.vanilla-slider {
    position: relative;
    text-align: left;

  &_horizontal {
    width: 100%;

    & .vanilla-slider__handle {
      top: -0.35em;
      margin-left: -0.55em;
    }
  }

  &_vertical {
    height: 100%;

    & .vanilla-slider__handle {
      left: -0.35em;
      margin-bottom: -0.7em;
    }
  }

  &__handle {
    position: absolute;
    display: block;
    z-index: 3;
    cursor: default;
    white-space: nowrap;

    &.last-type {
      z-index: 4;
    }

    &.active {
      z-index: 5;
    }

    &_fixed {
      z-index: 2;
    }
  }

  &__range {
    position: absolute;
    display: block;
    z-index: 1;
  }
}