* {
  box-sizing: border-box;
}

html, body {
  font-size: 15px;
  margin: 0;
  height: 100%;
}

.slider {
  height: 20rem;
}

.container {
  padding: 150px 500px 0 200px;
  height: 100%;
}

.settings {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  padding-right: 20px;

  &__fields {
    display: flex;
    flex-wrap: wrap;
  }

  &__field {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  &__indicators {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px
  }
}

.radio {
  display: flex;
}

.field {
  display: flex;
  justify-content: space-between;

  &__label {
    min-width: 3.2rem;
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #ed5565;
  background-color: white;
  border: 1px solid #ed5565;
  transition: 0.3s;

  &.active {
    color: white;
    background-color: #ed5565;
  }
}
