* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-size: 0.9375rem;
}

.slider {
  height: 20rem;
}

.container {
  padding: 150px 500px 0 200px;
  height: 100%;
}

.settings {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 1.25rem;
  width: 20rem;
  height: 100vh;

  &__fields {
    display: flex;
    flex-wrap: wrap;
  }

  &__field {
    margin-right: 0.3125rem;
    margin-bottom: 0.625rem;
  }

  &__indicators {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
  }
}

.radio {
  display: flex;
}

.field {
  display: flex;
  justify-content: space-between;

  &__label {
    min-width: 3.2rem;
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  height: 3.125rem;
  border: 1px solid #ed5565;
  background-color: white;
  color: #ed5565;
  transition: 0.3s;

  &.active {
    background-color: #ed5565;
    color: white;
  }
}
